.bg {
  max-width: 100%;
  height: auto;
}
.speech-bubble {
    background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    text-align: left;
    padding: 1vw;
    margin-right: 10%;
    position: absolute;
    left: 60%;
    top: 6vw;
    font-size: 3vw;
}
.speech-bubble .arrow {
    border-style: solid;
    position: absolute;
}
 
.bottom {
    border-color: transparent #c8c8c8  transparent transparent;
    border-width: 6vw 6vw 0px 6vw;
    left: -12vw;
}